@page
@model PrivacyModel
@{
    ViewData["Title"] = "Integritetspolicy";
}
<h1>@ViewData["Title"]</h1>


<p>Vi behöver spara och behandla personuppgifter om dig, så som</p>
<ul>
    <li>Fullständigt namn - syfte: Utskrift av fullständig profilsida och identifieraing av användare på forumet.</li>
    <li>Emailadress - syfte: Kontaktar dig i servicesyfte.</li>
</ul>

<strong>Lagliga grunder för personuppgiftsbehandlingen</strong>

<p>Ditt samtycke:</p>
<p>Avtalet; behandlingen är nödvändig för Snackis att visa dina registrerade användaruppgifter för de kommunikativa bitarna som ett forum innefattar.</p>


<p>Vi har fått dina uppgifter från dig. Det är inget lagstadgat krav att lämna dina personuppgifter hos oss men det är ett krav för att kunna registrera sig som användare då vi behöver relevant information för att identifiera användare på hemsidan.</p>
<p>Vi tillämpar vid var tid gällande integritetslagstiftning vid all behandling av personuppgifter.</p>
<p> Du har när som helst rätt att återkalla ditt samtycke till behandlingen. Ett återkallande påverkar inte lagligheten av behandlingen innan samtycket återkallades.</p>
<p>Dina uppgifter kommer att sparas tills du själv väljer att ta bort dom eller avslutar ditt medlemskap hos oss.</p>


<p>
    De personuppgifter vi behandlar om dig kan komma att delas med en tredje part,

    förutsatt att vi är skyldiga att göra så enligt lag. Däremot kommer vi aldrig att överföra dina uppgifter till ett land utanför EU.
</p>

<strong>Personuppgiftsansvarig är:</strong>
<a href="mailto:admin@snackis.se">Admin</a>

<p>
    Du har rätt att kontakta oss om du vill ha ut information om de uppgifter vi har om dig, för att begära rättelse,

    överföring eller för att begära att vi begränsar behandlingen, för att göra invändningar eller begära radering av  dina uppgifter.
</p>

<p>Detta gör du enklast genom att kontakta oss <a href="mailto:snackis@gmail.com">via den här länken</a>. Du når vårt dataskyddsombud <a href="mailto:admin@snackis.se">via den här länken</a>.</p>

<p> Om du har klagomål på vår behandling av dina personuppgifter har du rätt att inge klagomål till tillsynsmyndigheten Datainspektionen.</p>

<b>Denna integritetspolicy gäller från och med 15 juni 2021</b>
<br />
<a class="btn btn-info" style="max-height : 100px ; max-width :200px ; align-content : center" href="/Index">Tillbaka till startsidan</a>