@page
@model SNACKIS___Webb.Pages.Admin.AdminReviewOrderModel
@{
}

<div class="card">
    @*<h5 class="card-header">@Model.Id</h5>*@
    <div class="card-body">
        @*@foreach ()
        {*@

            <h5 class="card-title"></h5>
            <p class="card-title"></p>

        @*}*@
        <h6 class="card-title"></h6>

        <form method="post">
            <button type="submit" class="btn btn-primary">Toggla Report</button>
        </form>
        <a asp-page="/Index" class="btn btn-primary">Tillbaka</a>
    </div>
</div>
