@page
@model SNACKIS___Webb.Pages.Admin.CreateModel
@{
}

<head>
    <link rel="stylesheet" href="~/css/IndexAdminStyleSheet.css" />
</head>
<body>

    <div class="container-fluid">
        <h1>Skapa kategori</h1>
        <form method="post">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="title">Titel</label><br />
                        <input class="form-control" autocomplete="off" name="title" /><br />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="description">Beskrivning</label><br />
                        <input class="form-control" autocomplete="off" name="description" /><br />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <input class="btn btn-success" type="submit" value="Skapa kategori" />
                        <a asp-page="Index" class="btn btn-info">Tillbaka</a>
                    </div>
                </div>
            </div>
        </form>
        @if (!String.IsNullOrEmpty(Model.Messasge))
        {
            <h5 style="color : green">@Model.Messasge</h5>
        }
        @if (!String.IsNullOrEmpty(Model.ErrorMessasge))
        {
            <h5 style="color : red">@Model.ErrorMessasge</h5>
        }
    </div>

    
</body>
