@page
@model SNACKIS___Webb.Pages.Admin.IndexModel
@{
    @using Microsoft.AspNetCore.Http
    @inject IHttpContextAccessor HttpContextAccessor
}


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Alla anmälda poster: </h5>
                    <p class="card-text">@Model.PostCounter</p>
                    <a class="btn btn-outline-primary btn-sm" asp-page="ReportedPosts">Granska</a>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-6">
            <a asp-page="Create" class="btn btn-success">Skapa ny kategori</a>
            <a href="https://codecaveapi.azurewebsites.net/Post/all" target="_blank" class="btn btn-success">API Poster</a>
        </div>
    </div>
</div>




