@page
@model SNACKIS___Webb.Pages.Auth.LoginPageModel
@{
    @using Microsoft.AspNetCore.Http
    @inject IHttpContextAccessor HttpContextAccessor

}


<head>
    <link rel="stylesheet" href="~/css/LoginPageStyling.css">
</head>

<div class="container h-100">
    <div class="row h-100">
        <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
            <div class="d-table-cell align-middle">

                <div class="text-center mt-4">
                    <h1 class="h2">Välkommen tillbaka</h1>
                    <p class="lead">
                        Logga in för att fortsätta till ditt konto!
                    </p>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="m-sm-4">
                            <div class="text-center">
                                <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="Andrew Jones" class="img-fluid rounded-circle" width="132" height="132">
                            </div>
                            <form method="post">
                                <div class="form-group">
                                    <label>Användarnamn</label>
                                    <input autocomplete="off" asp-for="UserName" class="form-control form-control-lg" placeholder="Skriv ditt användernamn">
                                </div>
                                <div class="form-group">
                                    <label>Lösenord</label>
                                    <input autocomplete="off" asp-for="Password" type="password" class="form-control form-control-lg" placeholder="Skriv ditt lösenord">
                                    @if (!string.IsNullOrEmpty(Model.Message))
                                    {
                                        <p class="alert-danger">@Model.Message</p>
                                    }
                                </div>

                                <div class="text-center mt-3">
                                    <button href="index.html" class="btn btn-lg btn-primary" type="submit">Logga in</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

