@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
   <h1>Welcome to forum "Snackis"</h1>
</div>

<div class="media">
    <img src="" class="mr-3" alt="">
    <div class="media-body">
        <h5 class="mt-0">.NET</h5>
        <p>Lorem ipsum</p>

        <div class="media mt-3">
            <a class="mr-3" href="#">
                <img src="" alt="">
            </a>
            <div class="media-body">
                <h5 class="mt-0">C#</h5>
                <p>Lorem ipsum</p>
            </div>
        </div>
    </div>
</div>
